$teal: #84DDD8;
$salmonish: #936B7B;
$sortablue: #3B617D;
$copper: #AE9864;
$pink: #E7468A;

.bg-teal {
  background-color: $teal;
}

.bg-salmonish {
  background-color: $salmonish;
  color: #FFF;
}

.bg-sortablue {
  background-color: $sortablue;
  color: #FFF;
}

.bg-copper {
  background-color: $copper;
  color: #FFF;
}

.bg-pink {
  background-color: $pink;
  color: #FFF;
}
